*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
 }
 a{
     text-decoration: none;
 }
 i{
     font-style: normal;
 }

 html{
     font-size: 100px;
 }
 body{
     font-size: 0.24rem;
 }

 @media (min-width: 320px) {
    html{
        font-size: 42.66667px;/*calc(100px*320/750)*/
    }
}
@media (min-width: 360px) {
    html{
        font-size: 48px;
    }
}
@media (min-width: 375px) {
    html{
        font-size: 50px;
    }
}
@media (min-width: 411px) {
    html{
        font-size: 54.8px;
    }
}
@media (min-width: 414px) {
    html{
        font-size: 55.2px;
    }
}
@media (min-width: 768px) {
    html{
        font-size: 102.4px;
    }
}
@media (min-width: 1024px) {
    html{
        font-size: 136.54px;
    }
}
@font-face {
    font-family: 'iconfont';  /* project id 1030166 */
    src: url('//at.alicdn.com/t/font_1030166_pup87x5qfx.eot');
    src: url('//at.alicdn.com/t/font_1030166_pup87x5qfx.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1030166_pup87x5qfx.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1030166_pup87x5qfx.woff') format('woff'),
    url('//at.alicdn.com/t/font_1030166_pup87x5qfx.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1030166_pup87x5qfx.svg#iconfont') format('svg');
}
.zhuangtailan{
    width: 7.5rem;
    height: 0.4rem;
    background: #3bd4ff;
}